body {
  font: 'Open Sans';
  font-weight: 300;
}

.intro-section {
  background: url(nyc.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resume-section {
  padding-bottom: 50px;
}

.services-section {
  background: url(nyc.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.contact-section {
  background: url(nyc.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.navbar {
  margin-bottom: 0px;
}

.resume-container {
  border:3px solid #555;
  padding-bottom:10px;
}

.bullets {
  text-align: left;
}

.subbullets {
  list-style: none;
}

.subbullets:before {
  content: " - ";
}

.project-bullet {
  margin-left: 20px;
}

.leftColumn .leftColumnTitle {
  font-size:18pt;
  font-weight:500;
}

/* ExtraSmall devices (tablets, 767px and down) */
@media(max-width:767px){
  .leftColumn {
    text-align:center;
  }
  .leftColumn .row {
    display: none;
  }
  .leftColumnContent:hover .row,
  .leftColumnContent:active .row {
    display: block;
  }
  .leftColumn .leftColumnTitle {
    font-size:15pt;
    font-weight:400;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .leftColumn {
    text-align:right;
  }
  .leftColumn .leftColumnTitle {
    margin:5px 0px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
