body {
  font: 'Open Sans';
  font-weight: 300;
}

.intro-section {
  background: url(nyc.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  margin-bottom: 0px;
}
