<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reah Miyara</title>
	<meta charset="utf-8">
	<meta name="author" content="Reah Miyara">
	<meta name="description" content="personal website">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="scrolling-nav.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="">reah.me</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" href="#about">about</a></li>
					<li><a class="page-scroll" href="#resume">resume</a></li>
					<li><a class="page-scroll" href="#articles">articles</a></li>
					<li><a class="page-scroll" href="#contact">contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Intro Section -->
	<section id="about" class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-content"><h1>this will be a little intro about me !</h1></div>
				</div>
			</div>
		</div>
	</section>

	<section id="resume" class="resume-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Resume</h1>
				</div>
			</div>
			<div class="col-xs-3 col-lg-2">
				<div class="row">
					<div class="resume-section-header" id="profiles">
						profiles
					</div>
				</div>
				<div class="row">
						<div class="resume-item-normal" id="profiles-stackoverflow">StackOverflow: <a id="so-link" href="http://stackoverflow.com/users/3732188/reah?tab=profile">/reah</a></div>
				</div>
				<div class="row">
						<div class="resume-item-normal col-xs-12 col-xs-offset-0" id="profiles-linkedin">LinkedIn: <a id="li-link" href="https://www.linkedin.com/in/reahm">/reahm</a></div>
				</div>
				<div class="row">
						<div class="resume-item-normal col-xs-11 col-xs-offset-0" id="profiles-github">GitHub: <a id="gh-link" href="http://github.com/reah">/reah</a></div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="languages">
						languages
					</div>
				</div>
				<div class="row">
						<div class="resume-item-normal lang" id="eng">english</div>
				</div>
				<div class="row">
						<div class="resume-item-normal lang" id="heb">hebrew</div>
				</div>
				<div class="row">
						<div class="resume-item-normal lang" id="spa">spanish</div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="programming">
						programming
					</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row1">Adobe Creative Suite,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row2">Amazon EC2, Apache {Ant,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row3">Commons, CXF, Hadoop,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row4">Maven, Tomcat}, Eclipse</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row5">Emacs, Git, JAXB, JAX-WS,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row6">JUnit, LabView, MARS,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row7">Microsoft Office, Multisim,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row8">Serato Scratch Live &#9834;,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row9">Spring IO, Swagger,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row10">TestNG, TeXworks,</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row11">Ultiboard, VIM, Visual</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row12">Studio, RESTful Web</div>
				</div>
				<div class="row">
						<div class="resume-item-normal prog" id="prog-row13">Services, Xcode,</div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="software">
						software
					</div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="academic papers">
						academic papers
					</div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="affiliations">
						affiliations
					</div>
				</div>
			</div>
			<div class="col-xs-9 col-lg-10">
			<!-- EDUCATION SECTION -->
			<div class="row">
				<div class="resume-section-header col-xs-2" id="education">
					education
				</div>
			</div>
				<div class="row">
					<div class="col-xs-7" id="resume-item-uni">
						University of California, Berkeley
					</div>
					<div class="col-xs-3">December 2014</div>
				</div>
			<div class="row">
					<div class="col-xs-8 col-xs-offset-0" id="resume-item-major">B.S. Electrical Engineering & Computer Science</div>
			</div>
			<div class="row">
					<div class="col-xs-8 col-xs-offset-0" id="resume-item-ums">Undergraduate Merit Scholarship Recipient</div>
			</div>
		</div>
	</div>
</section>

<section id="articles" class="services-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Services Section</h1>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Contact Section</h1>
			</div>
		</div>
	</div>
</section>

<!-- Scrolling Nav JavaScript -->
<script src="jquery.easing.min.js"></script>
<script src="scrolling-nav.js"></script>

</body>
</html>
