<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reah Miyara</title>
	<meta charset="utf-8">
	<meta name="author" content="Reah Miyara">
	<meta name="description" content="personal website">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="scrolling-nav.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="">reah.me</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" href="#about">about</a></li>
					<li><a class="page-scroll" href="#resume">resume</a></li>
					<li><a class="page-scroll" href="#articles">articles</a></li>
					<li><a class="page-scroll" href="#contact">contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Intro Section -->
	<section id="about" class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-content"><h1>this will be a little intro about me !</h1></div>
				</div>
			</div>
		</div>
	</section>

	<section id="resume" class="resume-section">
		<div class="container resume-container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Resume</h1>
				</div>
			</div>
			<div class="col-xs-3 col-lg-2">
				<div class="row">
					<div class="resume-section-header" id="profiles">
						profiles
					</div>
				</div>
				<div class="row">
					<div class="resume-item-normal" id="profiles-stackoverflow">StackOverflow: <a id="so-link" href="http://stackoverflow.com/users/3732188/reah?tab=profile">/reah</a></div>
				</div>
				<div class="row">
					<div class="resume-item-normal col-xs-12 col-xs-offset-0" id="profiles-linkedin">LinkedIn: <a id="li-link" href="https://www.linkedin.com/in/reahm">/reahm</a></div>
				</div>
				<div class="row">
					<div class="resume-item-normal col-xs-11 col-xs-offset-0" id="profiles-github">GitHub: <a id="gh-link" href="http://github.com/reah">/reah</a></div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="languages">
						languages
					</div>
				</div>
				<div class="row">
					<div class="resume-item-normal lang" id="eng">english <em>(proficiency)</em>
						<!-- <span id="flag-en"><img src="en.png" class="flag flag-en" alt="USA Flag"></a></span> -->
					</div>
				</div>
				<div class="row">
					<div class="resume-item-normal lang" id="heb">hebrew <em>(proficiency)</em>
						<!-- <span><img src="il.png" class="flag flag-il" alt="Israel Flag"></a></span> -->
					</div>
				</div>
				<div class="row">
					<div class="resume-item-normal lang" id="spa">spanish <em>(fluency)</em>
						<!-- <span><img src="ar.png" class="flag flag-ar" alt="Argentina Flag"></a></span> -->
					</div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="programming">
						programming
					</div>
				</div>
				<div class="row">
					<div class="resume-item-normal prog">
						Java, Python, C++, C, SQL, JavaScript, HTML, CSS, LaTeX, XML, MIPS, Pep/8 Assembly, Scheme, Bash
					</div>
				</div>
				<div class="row">
					<div class="resume-section-header" id="software">
						software
					</div>
				</div>
				<div class="row">
					<div class="resume-item-normal software">Adobe Creative Suite, Amazon EC2, Apache
						{Ant, Commons, CXF, Hadoop, Maven, Tomcat}, Eclipse,
						Emacs, Git, JAXB, JAX-WS, JUnit, LabView, MARS, Microsoft Office, Multisim, Serato Scratch Live &#9834;,
						Spring IO, Swagger, TestNG, TeXworks, Ultiboard, VIM, Visual Studio, RESTful Web Services, Xcode</div>
					</div>
					<div class="row">
						<div class="resume-section-header" id="academic-papers">
							academic papers
						</div>
					</div>
					<div class="row">
						<div class="resume-item-normal academic-papers">
							SpaceOps 2014 (AIAA) &#8210; <span id="ruletest">RuleTest</span>: XML data-driven testing with on-the-fly test compilation of
							legacy applications & injection in Java
						</div>
					</div>
					<div class="row">
						<div class="resume-section-header" id="affiliations">
							affiliations
						</div>
					</div>
					<div class="row">
						<div class="resume-item-normal affiliations">
							<div class="row">
								<span id="uav">UAV Club</span> &#8210; <em>president & founder of Berkeley's undergraduate Unmanned Aerial Vehicle club</em>
							</div>
							<div class="row">
								<span id="ieee">IEEE</span> &#8210; <em>student activity committee</em>
							</div>
							<div class="row">
								<span id="calsol">CalSol</span> &#8210; <em>Cal's Solar Vehicle Team, controls & data subteam</em>
							</div>
							<div class="row">
								<span id="hab">Hackers @ Berkeley</span> &#8210; <em>enthusiast computer programmers & systems designers</em>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-9 col-lg-10">
					<!-- EDUCATION SECTION -->
					<div class="row">
						<div class="resume-section-header col-xs-2" id="education">
							education
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4" id="resume-item-uni">
							University of California, Berkeley
						</div>
						<div class="col-xs-3 col-xs-offset-4">December 2014</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-xs-offset-0" id="resume-item-major">B.S. Electrical Engineering & Computer Science</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-xs-offset-0" id="resume-item-ums">Undergraduate Merit Scholarship Recipient</div>
					</div>
					<div class="row">
						<div class="col-xs-3" id="gpa">GPA: 3.6 / 4.0</div>
					</div>
					<div class="row">
						<div class="col-xs-5" id="gpa"><em>past</em> Los Angeles Valley College</div>
					</div>
					<div class="row">
						<div class="resume-section-header col-xs-2" id="experience">
							experience
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6" id="resume-item-ibmwatson">
							<span class="logo-container"><img id="ibmlogo" src="ibmwatsongroup.png"></span> &nbsp;, &nbsp; New York City <em>NY</em>
						</div>
						<div class="col-xs-3 col-xs-offset-2">6/2015 &#8210; present</div>
					</div>
					<div class="row">
						<div class="col-xs-5" id="watsonlife">Watson Life Team: Software Engineer</div>
					</div>
					<div class="row">
						<div class="col-xs-5" id="resume-item-intuit">
							<span class="logo-container"><img id="intuitlogo" src="intuit.png"></span> &nbsp;, &nbsp; Woodland Hills <em>CA</em>
						</div>
						<div class="col-xs-3 col-xs-offset-3">6/2014 &#8210; 8/2014</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-xs-offset-1" id="tlc">Transaction Life Cycle <em>(TLC)</em> Team: Software Engineer Intern</div>
					</div>
					<div class="row">
						<ul>
							<div class="col-xs-9 col-xs-offset-1">
								<li class="bullets">Developed a RESTful web service deployed on Intuit’s Service Portal that
									watermarks and converts financial documents between multiple file formats.</li>
									<li class="bullets">Launched a mobile cash logging application to supplement Mint’s existing
										platform as part of the Lean StartIN program.</li>
										<li class="bullets">Designed and implemented an artificial intelligence risk assessment
											system to detect fraudulent transactions with high accuracy and precision
											using machine learning.
											<ul>
												<li class="subbullets">Analyzed QuickBooks Online data to discover variables exhibiting
													high correlation of potential credit loss by architecting several regression test suites.</li>
													<li class="subbullets">Performed classifications and predictions of numerous data sets
														using Two- Class Boosted Decision Trees & Neural Networks to achieve projection accuracy of
														.938 & cumulative AUC measure of .878.</li>
													</ul>
												</li>
											</div>
										</ul>
									</div>
									<div class="row">
										<div class="col-xs-7" id="resume-item-jpl">
											<!-- <span class="logo-container"><img id="jpllogo" src="jpl.png"></span> &nbsp;  -->
											<span id="nasajpl">NASA Jet Propulsion Laboratory</span>, &nbsp; Pasadena <em>CA</em>
										</div>
										<div class="col-xs-3 col-xs-offset-1">5/2013 &#8210; 8/2013</div>
									</div>
									<div class="row">
										<div class="col-xs-5 col-xs-offset-1" id="msl">Mars Science Laboratory: Software Engineer Intern</div>
									</div>
									<div class="row">
										<ul>
											<div class="col-xs-9 col-xs-offset-1">
												<li class="bullets">Optimized testing of multi-mission discrete event simulator, SEQGEN, by
													14% per build execution time.
													<ul>
														<li class="subbullets">Refactored validation element by compiling & injecting JUnit test
															cases at runtime as opposed to the multi-stage build script that wrote JUnit classes to disk.</li>
															<li class="subbullets">Supplemented dynamic concurrency in memory by calculating optimal number
																of concurrent SEQGEN processes for full resource utilization per server. </li>
																<li class="subbullets">Reduced number of required virtual machines per execution from three to one.</li>
															</ul>
														</li>
														<li class="bullets">Stabilized, developed, and refactored the SEQGEN test framework by completing end-to-end
															tests and tests of the SEQGEN interface files for a more robust design.</li>
															<li class="bullets">Documented the SEQGEN test framework's internal interfaces for easier augmentation of
																mission specific adaptations.</li>
															</div>
														</ul>
													</div>
													<div class="row">
														<div class="resume-section-header col-xs-2" id="projects">
															projects
														</div>
													</div>
													<div class="row">
														<div class="col-xs-4">
															<span id="twitter">Twitter Trends</span>, <em>Python</em>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-9 col-xs-offset-1">
															<li class="bullets"> Developed an analyzation & visualization tool for
																Twitter data, geographically mapping tweets according to their
																location and analyzing target word correlation.</li>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-5">
																<span id="scheme">Scheme Interpreter</span>, <em>Python</em>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-9 col-xs-offset-1">
																<li class="bullets"> Developed a Scheme interpreter, parsing expressions
																	& tokenizing primitives/procedures while validating against an embedded
																	test framework in real-time.</li>
																</div>
															</div>
														</div>
													</div>
												</section>

												<section id="articles" class="articles-section">
													<div class="container">
														<div class="row">
															<div class="col-lg-12">
																<h1>Articles Section</h1>
															</div>
														</div>
													</div>
												</section>

												<section id="contact" class="contact-section">
													<div class="container">
														<div class="row">
															<div class="col-lg-12">
																<h1>Contact Section</h1>
															</div>
														</div>
													</div>
												</section>

												<!-- Scrolling Nav JavaScript -->
												<script src="jquery.easing.min.js"></script>
												<script src="scrolling-nav.js"></script>

											</body>
											</html>
